<a href="<%=@recipe.id%>/edit">Edit Recipe</a>

<h3><%= @recipe.recipe_name%></h3>
<p><%=@recipe.foodpic%></p>
<p><%=@recipe.difficulty%></p>
<p><%=@recipe.cuisine%></p>
<p><%=@recipe.directions%></p>
<p><%=@recipes.comments%></p>


<h1>Leave a comment</h1>


<form action="/recipes/<%=@recipe.id%>" method="POST">
    <p><input type="text" name="comment[comment]" placeholder="Enter Comment"></p>
</form>