<a href="<%=@recipe.id%>/edit">Edit Recipe</a>

<h3><%= @recipe.recipe_name%></h3>
<p><%=@recipe.foodpic%></p>
<p><%=@recipe.difficulty%></p>
<p><%=@recipe.cuisine%></p>
<p><%=@recipe.directions%></p>


<p><a href="<%=@recipe.id%>/comment">Leave a Comment</a></p>