<a href="<%=@recipe.id%>/edit">Edit Recipe</a>

<h3><%= @recipe.recipe_name%></h3>
<p><%=@recipe.avatar%></p>
<p><%=@recipe.difficulty%></p>
<p><%=@recipe.cuisine%></p>
<p><%=@recipe.directions%></p>



<h1>Leave a comment</h1>


<form action="/comments" method="post">
    <input type="text" name="textbody">
    <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
    <input type="submit" value="Comment">
</form>

<%# <% if @comment.size > 0 %>
 <%# <%@comments.each do |c|%> %>
    <%# <p> <%=c.textbody%></p> %>
    <%# <br> %>
    <%# <%end%> %>
<%# <%end%> %> %>